//                                                      ▀▀▀█
//               ▄▄▄▄      ▄▄▄      ▄▄▄▄▄      ▄▄▄▄▄       █
//               █        █▄▄▄█    █    █     █    █       █
//            ▄▄▄█▄▄▄     ▀▄▄▄     ▀▄▄▄▄█     ▀▄▄▄▀█    ▄▄▄█▄▄▄
//                                  ▄▄▄▄▀  

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

//#include <dt-bindings/zmk/mouse.h>

#define KRITA1  0
#define KRITA2  1
#define HEAVY1  2
#define HEAVY2  3

/ {
    behaviors {
        k_rot: k_rot_reset {
            compatible = "zmk,behavior-tap-dance";
            label = "Rotation_Reset";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LC(SPACE)>, <&kp LS(R)>;
        };

        k_unsav: t_unsav {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_UndoSave";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_save>, <&kp>;
        };

        k_resav: t_resav {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_RedoSaveInc";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_saveinc>, <&kp>;
        };

        k_plbs: k_plbs {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_PlayBrushsize";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        k_sel: k_sel {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_SelectDeselect";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_dsel>, <&kp>;
        };

        k_move: k_move {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_Move";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_dsel>, <&kp>;
        };

        k_trans: k_trans {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_Transform";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_cltrans>, <&kp>;
        };
    };

    macros {
        k_save: k_save {
            label = "KRITA_Save";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(S)>;
        };

        k_saveinc: k_saveinc {
            label = "KRITA_SaveInc";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(LA(S))>;
        };

        k_alay: k_alay {
            label = "KRITA_NewAnimLayer";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(L)>, <&macro_tap>, <&kp K>;
        };

        k_dsel: k_dsel {
            label = "KRITA_Deselect";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp D>, <&macro_tap>, <&kp B>;
        };

        k_cltrans: k_cltrans {
            label = "KRITA_ClearTrans";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RETURN>, <&macro_tap>, <&k_dsel>;
        };
    };

    // ───────────────────────────────────────────────────────────────────────────

    keymap {
        compatible = "zmk,keymap";

        // ───────────────────────────────────────────────────────────────────────────
        // ───────────────────────────────────────────────────────────────────────────
        // ───────────────────────────────────────────────────────────────────────────

        test {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4
&kp N5  &kp N6  &kp N7  &kp N8
&kp N9  &kp N0  &kp Q   &kp W
&kp E   &kp R   &kp T   &kp Y
            >;
        };
    };
};
